## Tarea 2 - Métodos de Aprendizajes de Máquinas en Data Science

### Integrantes: Sofía Álvarez, Sebastián Dinator.

In [1]:
# Importando librerías
import pandas as pd
import numpy as np
from sympy import Matrix
from datetime import datetime
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

# Graficos
from plotnine import ggplot
from plotnine import *

In [2]:
# Generales
import pandas as pd
import numpy as np
from sympy import Matrix
from plotnine import *

# Imagen
from IPython.display import Image

# Gráficos 
import seaborn as sns
import matplotlib.pyplot as plt

# k-fold cross validation
from sklearn.model_selection import KFold

# Muestreo
from sklearn.model_selection import train_test_split

# Regresión Logística

from sklearn.linear_model import LogisticRegression

# Naive Bayes
from sklearn.naive_bayes import GaussianNB

# Arbol de desicion
from sklearn.tree import DecisionTreeClassifier

# Medidad de tendencia central
import statistics


from sklearn.neighbors import KNeighborsClassifier

# OTROS(?)
import statsmodels.api as sm 
from sklearn.metrics import (confusion_matrix, accuracy_score, precision_score)

In [3]:
# Importando la data
df = pd.read_csv("trainData.csv")
df

,Unnamed: 0,date,fligth_number,origin,destination,distance,noshow,denied_boarding,pax_midlow,pax_high,...,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,departure_time,capacity,revenues_usd,bookings
0,389083,2009-11-09,8995,BBA,SCL,1394,9.0,0,94,2,...,22,19,0,1,0,239,10:30:00,174.0,10631.1,240
1,177073,2009-05-23,7061,LIM,TRU,489,0.0,0,100,4,...,25,0,0,19,9,192,19:20:00,174.0,5453.7,220
2,1040357,2011-05-09,8972,SCL,PUQ,2180,4.0,0,7,1,...,2,0,0,0,10,69,09:54:00,218.0,16161.0,79
3,505258,2010-02-12,6039,CGH,CNF,524,13.0,0,54,4,...,4,0,0,26,0,64,21:00:00,174.0,10828.7,90
4,369663,2009-10-24,7713,GPS,GYE,1170,14.0,0,21,88,...,0,88,1,23,3,183,12:40:00,144.0,16721.6,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999885,359783,2009-10-16,6024,UDI,CGH,552,5.0,0,25,12,...,12,0,0,64,9,0,15:14:00,144.0,14102.1,73
999886,152315,2009-05-03,6669,LIM,HAV,3934,4.0,0,129,3,...,2,20,0,0,118,156,08:50:00,168.0,32907.8,274
999887,1000747,2011-04-04,9094,IQQ,SCL,1430,5.0,0,2,1,...,20,36,0,7,0,124,14:18:00,218.0,13519.3,131
999888,117952,2009-04-04,7704,GYE,SCY,1091,2.0,0,67,2,...,16,0,0,34,2,98,08:05:00,144.0,8729.6,134
999889,305711,2009-09-02,7746,UIO,GYE,283,10.0,0,72,1,...,2,0,0,5,3,119,17:35:00,144.0,3031.0,127

# Limpieza y selección de variables

## Analizando la prescencia de nulos

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999890 entries, 0 to 999889
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       999890 non-null  int64
 1   date             999890 non-null  object
 2   fligth_number    999890 non-null  int64
 3   origin           999890 non-null  object
 4   destination      999890 non-null  object
 5   distance         999890 non-null  int64
 6   noshow           999890 non-null  float64
 7   denied_boarding  999890 non-null  int64
 8   pax_midlow       999890 non-null  int64
 9   pax_high         999890 non-null  int64
 10  pax_midhigh      999890 non-null  int64
 11  pax_low          999890 non-null  int64
 12  pax_freqflyer    999890 non-null  int64
 13  group_bookings   999890 non-null  int64
 14  out_of_stock     999890 non-null  int64
 15  dom_cnx          999890 non-null  int64
 16  int_cnx          999890 non-null  int64
 17  p2p              999890 non-null  int64
 18  departure_time   998472 non-null  object
 19  capacity         999890 non-null  float64
 20  revenues_usd     999890 non-null  float64
 21  bookings         999890 non-null  int64
dtypes: float64(3), int64(15), object(4)
memory usage: 167.8+ MB

In [5]:
#date
#origin
#destination
#departure time


df = df.drop(['date', 'origin', 'destination', 'departure_time'], axis = 1)
df
df = df.dropna() # Eliminamos datos nulos.
df = df.reset_index()
#df = df.drop(['level_0', 'index'], axis = 1)
df.shape
display(df)

,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
0,0,389083,8995,1394,9.0,0,94,2,28,94,22,19,0,1,0,239,174.0,10631.1,240
1,1,177073,7061,489,0.0,0,100,4,4,87,25,0,0,19,9,192,174.0,5453.7,220
2,2,1040357,8972,2180,4.0,0,7,1,5,64,2,0,0,0,10,69,218.0,16161.0,79
3,3,505258,6039,524,13.0,0,54,4,7,21,4,0,0,26,0,64,174.0,10828.7,90
4,4,369663,7713,1170,14.0,0,21,88,18,82,0,88,1,23,3,183,144.0,16721.6,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999885,999885,359783,6024,552,5.0,0,25,12,20,4,12,0,0,64,9,0,144.0,14102.1,73
999886,999886,152315,6669,3934,4.0,0,129,3,19,121,2,20,0,0,118,156,168.0,32907.8,274
999887,999887,1000747,9094,1430,5.0,0,2,1,0,108,20,36,0,7,0,124,218.0,13519.3,131
999888,999888,117952,7704,1091,2.0,0,67,2,7,42,16,0,0,34,2,98,144.0,8729.6,134
999889,999889,305711,7746,283,10.0,0,72,1,1,51,2,0,0,5,3,119,144.0,3031.0,127

In [6]:
for columna in df.columns:
    if type(df[columna][0]) != str:
        print(columna.upper())
        print(len(df[columna].unique()))
        display(df[df[columna]%1 != 0])

INDEX
999890

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

UNNAMED: 0
999890

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

FLIGTH_NUMBER
4026

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

DISTANCE
754

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

NOSHOW
115

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

DENIED_BOARDING
35

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_MIDLOW
322

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_HIGH
154

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_MIDHIGH
158

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_LOW
278

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_FREQFLYER
214

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

GROUP_BOOKINGS
209

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

OUT_OF_STOCK
2

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

DOM_CNX
220

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

INT_CNX
333

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

P2P
422

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

CAPACITY
232

,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
1047,1047,437541,5420,590,12.0,0,83,3,6,54,18,0,0,85,2,77,174.294915,11662.4,164
4698,4698,439135,6076,1182,5.0,0,110,5,9,89,13,0,0,13,26,187,173.705584,14245.5,226
13695,13695,447967,5589,1607,6.0,0,86,0,0,76,20,0,0,13,0,169,174.108276,8832.6,182
22619,22619,443874,5792,657,4.0,0,46,3,11,33,42,0,1,60,0,75,174.264840,6922.3,135
27762,27762,440030,5408,590,6.0,0,84,0,0,53,24,1,0,10,5,146,144.244068,7185.6,161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952284,952284,454335,5844,2446,18.0,0,59,0,9,34,26,0,0,2,1,125,174.142273,21221.3,128
958702,958702,454360,5916,590,3.0,0,88,0,2,63,10,0,0,57,0,106,174.294915,7709.7,163
959324,959324,439988,6079,1182,2.0,0,108,0,2,95,15,0,0,15,9,196,173.705584,14357.0,220
965548,965548,438992,6079,1182,36.0,0,60,0,0,43,14,0,0,12,3,102,173.705584,7842.8,117
989314,989314,441319,6172,1182,2.0,0,121,0,1,101,14,0,0,17,7,213,173.705584,13139.2,237

REVENUES_USD
310851

,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
0,0,389083,8995,1394,9.0,0,94,2,28,94,22,19,0,1,0,239,174.0,10631.1,240
1,1,177073,7061,489,0.0,0,100,4,4,87,25,0,0,19,9,192,174.0,5453.7,220
3,3,505258,6039,524,13.0,0,54,4,7,21,4,0,0,26,0,64,174.0,10828.7,90
4,4,369663,7713,1170,14.0,0,21,88,18,82,0,88,1,23,3,183,144.0,16721.6,209
5,5,251495,8734,5861,6.0,0,188,4,2,85,20,0,0,0,99,200,279.0,81609.3,299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999884,999884,122579,8878,1430,3.0,0,86,7,51,80,8,39,0,104,5,123,218.0,14169.6,232
999885,999885,359783,6024,552,5.0,0,25,12,20,4,12,0,0,64,9,0,144.0,14102.1,73
999886,999886,152315,6669,3934,4.0,0,129,3,19,121,2,20,0,0,118,156,168.0,32907.8,274
999887,999887,1000747,9094,1430,5.0,0,2,1,0,108,20,36,0,7,0,124,218.0,13519.3,131
999888,999888,117952,7704,1091,2.0,0,67,2,7,42,16,0,0,34,2,98,144.0,8729.6,134

BOOKINGS
581

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

In [7]:
df['capacity'].describe()

count    999890.000000
mean        178.056881
std          32.694811
min          53.000000
25%         150.000000
50%         174.000000
75%         174.000000
max         451.000000
Name: capacity, dtype: float64

In [8]:
eliminar = list(df[df['capacity'] % 1 != 0].index)
data = df.drop(eliminar,axis=0)
data = data.reset_index()
data

,level_0,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
0,0,0,389083,8995,1394,9.0,0,94,2,28,94,22,19,0,1,0,239,174.0,10631.1,240
1,1,1,177073,7061,489,0.0,0,100,4,4,87,25,0,0,19,9,192,174.0,5453.7,220
2,2,2,1040357,8972,2180,4.0,0,7,1,5,64,2,0,0,0,10,69,218.0,16161.0,79
3,3,3,505258,6039,524,13.0,0,54,4,7,21,4,0,0,26,0,64,174.0,10828.7,90
4,4,4,369663,7713,1170,14.0,0,21,88,18,82,0,88,1,23,3,183,144.0,16721.6,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999713,999885,999885,359783,6024,552,5.0,0,25,12,20,4,12,0,0,64,9,0,144.0,14102.1,73
999714,999886,999886,152315,6669,3934,4.0,0,129,3,19,121,2,20,0,0,118,156,168.0,32907.8,274
999715,999887,999887,1000747,9094,1430,5.0,0,2,1,0,108,20,36,0,7,0,124,218.0,13519.3,131
999716,999888,999888,117952,7704,1091,2.0,0,67,2,7,42,16,0,0,34,2,98,144.0,8729.6,134
999717,999889,999889,305711,7746,283,10.0,0,72,1,1,51,2,0,0,5,3,119,144.0,3031.0,127

In [9]:
display(data.describe())
print(data.describe().shape)

,level_0,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
count,999718.000000,999718.000000,9.997180e+05,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000
mean,499947.870237,499947.870237,6.437456e+05,6109.117706,1460.855778,6.015700,0.047570,75.510574,3.807903,6.319279,57.197498,16.798840,3.829329,0.096225,25.840142,26.708132,107.085820,178.056066,14835.277687,159.634094
std,288642.978213,288642.978213,3.882671e+05,2050.918123,1684.637100,5.112556,0.547211,44.570278,7.251763,10.266169,38.398518,13.836479,12.299626,0.294900,32.263478,43.961292,65.524338,32.696178,17963.999498,68.630524
min,0.000000,0.000000,0.000000e+00,10.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,53.000000,-77206.900000,1.000000
25%,249978.250000,249978.250000,3.116202e+05,5380.000000,538.000000,3.000000,0.000000,46.000000,0.000000,0.000000,29.000000,7.000000,0.000000,0.000000,0.000000,0.000000,59.000000,150.000000,6286.200000,110.000000
50%,499950.500000,499950.500000,6.242615e+05,6036.000000,916.000000,5.000000,0.000000,77.000000,1.000000,3.000000,55.000000,14.000000,0.000000,0.000000,12.000000,5.000000,99.000000,174.000000,9692.200000,151.000000
75%,749916.750000,749916.750000,9.457720e+05,7190.000000,1672.000000,8.000000,0.000000,104.000000,4.000000,8.000000,82.000000,23.000000,0.000000,0.000000,42.000000,31.000000,147.000000,174.000000,15730.900000,200.000000
max,999889.000000,999889.000000,1.350331e+06,9264.000000,11380.000000,271.000000,53.000000,344.000000,195.000000,230.000000,296.000000,236.000000,240.000000,1.000000,262.000000,357.000000,564.000000,451.000000,335775.400000,608.000000

(8, 20)

In [ ]:
sí
fligth_number
noshow
denied_boarding
dom
int_cnx
p2p
capacity
bookings


No
distance porque 2 podrian tener la misma
rebenues


analizar
pax
out of stock

In [10]:
#### Anlizando si 
#* pax_high
#* pax_midhigh
#* pax_midlow
#* pax_low
#* pax_freqflyer
#### están contenidas en bookings
datAnalisis1 = data[["Unnamed: 0","bookings"]]
datAnalisis1["suma"] = data["pax_high"] + data["pax_midhigh"] + data["pax_midlow"] + data["pax_low"] + data["pax_freqflyer"]

count = 0
for i in range(data.shape[0]):
    if (datAnalisis1["bookings"].iloc[i] != datAnalisis1["suma"].iloc[i]):
        print(datAnalisis1["bookings"].iloc[i])
    else: 
        count += 1
        
print("Hay:", count, "coincidencias", "de un total de", datAnalisis1.shape[0], "datos")

#### Conclusión: bookings contiene a esas variables.

C:\Users\sebad\AppData\Local\Temp\ipykernel_71000\3989490445.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Hay: 999718 coincidencias de un total de 999718 datos

In [11]:
#### Para optimizar el número de variables se unen los 2 pax_high y 2 pax_low
data['paxH'] = (data['pax_high'] + data['pax_midhigh'])
data['paxL'] = (data['pax_low'] + data['pax_midlow'])
data

,level_0,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,...,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings,paxH,paxL
0,0,0,389083,8995,1394,9.0,0,94,2,28,...,19,0,1,0,239,174.0,10631.1,240,30,188
1,1,1,177073,7061,489,0.0,0,100,4,4,...,0,0,19,9,192,174.0,5453.7,220,8,187
2,2,2,1040357,8972,2180,4.0,0,7,1,5,...,0,0,0,10,69,218.0,16161.0,79,6,71
3,3,3,505258,6039,524,13.0,0,54,4,7,...,0,0,26,0,64,174.0,10828.7,90,11,75
4,4,4,369663,7713,1170,14.0,0,21,88,18,...,88,1,23,3,183,144.0,16721.6,209,106,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999713,999885,999885,359783,6024,552,5.0,0,25,12,20,...,0,0,64,9,0,144.0,14102.1,73,32,29
999714,999886,999886,152315,6669,3934,4.0,0,129,3,19,...,20,0,0,118,156,168.0,32907.8,274,22,250
999715,999887,999887,1000747,9094,1430,5.0,0,2,1,0,...,36,0,7,0,124,218.0,13519.3,131,1,110
999716,999888,999888,117952,7704,1091,2.0,0,67,2,7,...,0,0,34,2,98,144.0,8729.6,134,9,109
999717,999889,999889,305711,7746,283,10.0,0,72,1,1,...,0,0,5,3,119,144.0,3031.0,127,2,123

In [12]:
######## Anlizando la cantidad de vuelos que denegó abordajes.
data.loc[data.denied_boarding >= 1, 'sum_denied'] = 1
data.loc[data.denied_boarding < 1, 'sum_denied'] = 0
print(data['sum_denied'].sum(), 'vuelos')

13779.0 vuelos

In [13]:
######## Anlizando la cantidad de vuelos que denegó abordajes.
data.loc[data.out_of_stock >= 1, 'sum_out_stock'] = 1
data.loc[data.denied_boarding < 1, 'sum_out_stock'] = 0
print(data['sum_out_stock'].sum(), 'vuelos')

4440.0 vuelos

In [14]:
######## Anlizando la cantidad de vuelos que denegó abordajes.
data.loc[data.noshow >= 1, 'sum_noshow'] = 1
data.loc[data.noshow < 1, 'sum_noshow'] = 0
print(data['sum_noshow'].sum(), 'vuelos')

928632.0 vuelos

In [15]:
dataUsar = data[['fligth_number','dom_cnx', 'int_cnx',
                  'p2p', 'capacity',
                  'paxL', 'paxH','pax_freqflyer',
                  'group_bookings']]
dataUsar

,fligth_number,dom_cnx,int_cnx,p2p,capacity,paxL,paxH,pax_freqflyer,group_bookings
0,8995,1,0,239,174.0,188,30,22,19
1,7061,19,9,192,174.0,187,8,25,0
2,8972,0,10,69,218.0,71,6,2,0
3,6039,26,0,64,174.0,75,11,4,0
4,7713,23,3,183,144.0,103,106,0,88
...,...,...,...,...,...,...,...,...,...
999713,6024,64,9,0,144.0,29,32,12,0
999714,6669,0,118,156,168.0,250,22,2,20
999715,9094,7,0,124,218.0,110,1,20,36
999716,7704,34,2,98,144.0,109,9,16,0
999717,7746,5,3,119,144.0,123,2,2,0

In [5]:
dataUsar = data[['fligth_number',
                 'dom_cnx', 'int_cnx', 'p2p', 'capacity',
                 'bookings', 'paxL', 'paxH',
                 'pax_freqflyer', 'group_bookings']]
dataUsar

,fligth_number,dom_cnx,int_cnx,p2p,capacity,bookings,paxL,paxH,pax_freqflyer,group_bookings
0,8995,1,0,239,174.0,240,188,30,22,19
1,7061,19,9,192,174.0,220,187,8,25,0
2,8972,0,10,69,218.0,79,71,6,2,0
3,6039,26,0,64,174.0,90,75,11,4,0
4,7713,23,3,183,144.0,209,103,106,0,88
...,...,...,...,...,...,...,...,...,...,...
999713,6024,64,9,0,144.0,73,29,32,12,0
999714,6669,0,118,156,168.0,274,250,22,2,20
999715,9094,7,0,124,218.0,131,110,1,20,36
999716,7704,34,2,98,144.0,134,109,9,16,0
999717,7746,5,3,119,144.0,127,123,2,2,0

In [16]:
scaler = StandardScaler()
scaler.fit(dataUsar)

data_estandar = pd.DataFrame(scaler.transform(dataUsar), columns=dataUsar.columns)
data_estandar['noshow'] = data['noshow']
data_estandar

,fligth_number,dom_cnx,int_cnx,p2p,capacity,paxL,paxH,pax_freqflyer,group_bookings,noshow
0,1.407118,-0.769916,-0.607538,2.013210,-0.124053,0.830775,1.398776,0.375902,1.233426,9.0
1,0.464125,-0.212009,-0.402812,1.295919,-0.124053,0.815749,-0.149725,0.592720,-0.311337,0.0
2,1.395903,-0.800910,-0.380065,-0.581247,1.221670,-0.927179,-0.290497,-1.069553,-0.311337,4.0
3,-0.034188,0.004955,-0.607538,-0.657555,-0.124053,-0.867078,0.061435,-0.925007,-0.311337,13.0
4,0.782032,-0.088030,-0.539296,1.158565,-1.041592,-0.446371,6.748140,-1.214098,6.843356,14.0
...,...,...,...,...,...,...,...,...,...,...
999713,-0.041502,1.182758,-0.402812,-1.634292,-1.041592,-1.558239,1.539548,-0.346825,-0.311337,5.0
999714,0.272991,-0.800910,2.076643,0.746504,-0.307561,1.762340,0.835685,-1.069553,1.314729,4.0
999715,1.455389,-0.583947,-0.607538,0.258136,1.221670,-0.341194,-0.642429,0.231357,2.615583,5.0
999716,0.777643,0.252913,-0.562043,-0.138663,-1.041592,-0.356220,-0.079338,-0.057734,-0.311337,2.0
999717,0.798122,-0.645936,-0.539296,0.181828,-1.041592,-0.145866,-0.572043,-1.069553,-0.311337,10.0

In [17]:
def calculate_sMAPE(actual, predicted): 
    flag = []
    
    for a,p in zip(actual, predicted):
        
        if a == 0 and p == 0:
            flag.append(0)
            
        else:
            flag.append(np.abs(a - p) / (np.abs(a) + np.abs(p)))
            
            
    return  round(np.mean(flag)*100, 4), round(np.std(flag), 4)

countm = 1

for NN in range(5, 999718, 100):
    
    print('')
    print(f'Modelo {countm}: {NN} vecinos')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    print(kf)
    #Generando los k-fold
    temp = kf.split(data_estandar)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        print('')
        print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = data_estandar.iloc[lista_train_index,0:-1]
        y_train = data_estandar.iloc[lista_train_index,-1]

        X_test = data_estandar.iloc[lista_test_index,0:-1]
        y_test = np.array(data_estandar.iloc[lista_test_index, -1])


        KNN = KNeighborsClassifier(n_neighbors = NN, weights="uniform", n_jobs = -1)

        KNN=KNN.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = KNN.predict(X_test)
        print("Resultado de la predicción:",resultado)
        print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)


    print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

# CON REGRESSOR

In [18]:
from sklearn.neighbors import KNeighborsRegressor

In [19]:
countm = 1

for NN in range(5, 999718, 100):
    
    print('')
    print(f'Modelo {countm}: {NN} vecinos')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    print(kf)
    #Generando los k-fold
    temp = kf.split(data_estandar)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        print('')
        print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = data_estandar.iloc[lista_train_index,0:-1]
        y_train = data_estandar.iloc[lista_train_index,-1]

        X_test = data_estandar.iloc[lista_test_index,0:-1]
        y_test = np.array(data_estandar.iloc[lista_test_index, -1])


        KNN = KNeighborsRegressor(n_neighbors = NN, weights="uniform", n_jobs = -1)

        KNN=KNN.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = KNN.predict(X_test)
        print("Resultado de la predicción:",resultado)
        print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)


    print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

Modelo 1: 5 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [6.2 8.  5.  ... 5.  4.6 1.6]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 33.7131 +- 0.2686

ITERACIÓN 2
Resultado de la predicción: [7.2 5.8 5.4 ... 3.  4.6 8.6]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 33.6238 +- 0.2673

ITERACIÓN 3
Resultado de la predicción: [4.2 4.  7.4 ... 6.2 9.2 3.4]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 33.738 +- 0.2682

ITERACIÓN 4
Resultado de la predicción: [5.8 9.6 5.8 ... 5.  3.2 6.4]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 33.6152 +- 0.2675

ITERACIÓN 5
Resultado de la predicción: [ 3.2  7.8  8.2 ...  2.4 11.6 11.6]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 33.7016 +- 0.2687

ITERACIÓN 6
Resultado de la predicción: [5.2 2.8 2.4 ... 7.6 4.8 4.4]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 33.697 +- 0.2666

ITERACIÓN 7
Resultado de la predicción: [ 5.4  2.8  7.6 ... 12.   2.2  6.4]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 33.6497 +- 0.2679

ITERACIÓN 8
Resultado de la predicción: [ 5.4  5.8  2.8 ...  4.  11.2  6.4]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 33.7592 +- 0.2689

ITERACIÓN 9
Resultado de la predicción: [ 5.4 10.   8.4 ...  6.8  4.   3.2]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 33.7028 +- 0.2681

ITERACIÓN 10
Resultado de la predicción: [ 4.8 17.8  3.2 ... 10.2  7.   5.4]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 33.9819 +- 0.2699
vecinos = 5, error =  33.72 +- 0.27

Modelo 2: 105 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.52380952 8.46666667 7.72380952 ... 6.91428571 5.81904762 4.59047619]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.6577 +- 0.2663

ITERACIÓN 2
Resultado de la predicción: [5.77142857 5.51428571 6.25714286 ... 2.03809524 5.21904762 8.05714286]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.5769 +- 0.2653

ITERACIÓN 3
Resultado de la predicción: [4.91428571 5.18095238 7.51428571 ... 5.31428571 8.19047619 5.9047619 ]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.7038 +- 0.2662

ITERACIÓN 4
Resultado de la predicción: [5.85714286 9.58095238 4.07619048 ... 5.75238095 3.27619048 6.95238095]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.5154 +- 0.2655

ITERACIÓN 5
Resultado de la predicción: [3.57142857 5.64761905 9.         ... 5.74285714 8.68571429 7.57142857]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.6574 +- 0.2663

ITERACIÓN 6
Resultado de la predicción: [4.36190476 2.87619048 2.75238095 ... 7.58095238 4.48571429 5.04761905]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.6669 +- 0.2644

ITERACIÓN 7
Resultado de la predicción: [6.21904762 4.41904762 7.34285714 ... 6.87619048 5.59047619 7.77142857]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.5503 +- 0.2657

ITERACIÓN 8
Resultado de la predicción: [ 6.16190476  5.3047619   4.65714286 ...  5.32380952 11.25714286
  5.54285714]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.6777 +- 0.2663

ITERACIÓN 9
Resultado de la predicción: [5.57142857 8.39047619 5.92380952 ... 8.96190476 6.82857143 5.59047619]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.6689 +- 0.2659

ITERACIÓN 10
Resultado de la predicción: [4.58095238 8.12380952 6.05714286 ... 8.83809524 6.06666667 5.41904762]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.8184 +- 0.268
vecinos = 105, error =  31.65 +- 0.27

Modelo 3: 205 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [8.13658537 7.5804878  7.07317073 ... 7.57073171 5.86829268 4.87804878]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.6446 +- 0.2665

ITERACIÓN 2
Resultado de la predicción: [5.60487805 6.05853659 6.46829268 ... 2.06829268 5.17073171 7.9902439 ]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.5828 +- 0.2654

ITERACIÓN 3
Resultado de la predicción: [5.33170732 4.9902439  7.54146341 ... 5.1902439  7.62926829 5.76585366]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.7154 +- 0.2664

ITERACIÓN 4
Resultado de la predicción: [5.76585366 9.57560976 4.03902439 ... 5.88292683 3.43414634 7.65365854]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.5015 +- 0.2655

ITERACIÓN 5
Resultado de la predicción: [3.45365854 5.75609756 8.54634146 ... 5.79512195 8.15121951 7.44390244]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.6459 +- 0.2664

ITERACIÓN 6
Resultado de la predicción: [4.98536585 2.82926829 2.56097561 ... 7.11707317 4.53658537 5.51219512]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.6512 +- 0.2646

ITERACIÓN 7
Resultado de la predicción: [6.35609756 4.29268293 7.76585366 ... 6.8        5.44878049 7.81463415]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.5505 +- 0.2658

ITERACIÓN 8
Resultado de la predicción: [ 6.53170732  5.02439024  4.69756098 ...  5.50731707 10.89268293
  5.66341463]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.6738 +- 0.2665

ITERACIÓN 9
Resultado de la predicción: [6.0097561  8.17560976 5.84878049 ... 8.71219512 6.2        6.06829268]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.6768 +- 0.266

ITERACIÓN 10
Resultado de la predicción: [4.35121951 8.35121951 5.55121951 ... 8.85853659 5.78536585 5.82926829]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.8228 +- 0.2681
vecinos = 205, error =  31.65 +- 0.27

Modelo 4: 305 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.93114754 7.75737705 6.96721311 ... 7.86229508 5.7442623  4.70819672]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.6512 +- 0.2666

ITERACIÓN 2
Resultado de la predicción: [5.66557377 5.63934426 6.46229508 ... 2.27868852 5.48852459 7.68196721]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.5996 +- 0.2655

ITERACIÓN 3
Resultado de la predicción: [5.34754098 5.11803279 7.36065574 ... 4.93114754 7.36065574 5.87213115]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.7385 +- 0.2665

ITERACIÓN 4
Resultado de la predicción: [5.63934426 9.40983607 4.20655738 ... 5.80655738 3.36393443 7.69508197]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.518 +- 0.2656

ITERACIÓN 5
Resultado de la predicción: [3.51803279 5.55081967 8.76393443 ... 5.75409836 8.22295082 7.23934426]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.6564 +- 0.2665

ITERACIÓN 6
Resultado de la predicción: [4.94098361 2.98360656 2.54754098 ... 7.06885246 4.61311475 5.66557377]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.6655 +- 0.2647

ITERACIÓN 7
Resultado de la predicción: [6.30163934 4.30491803 7.72459016 ... 6.6        5.44918033 7.47868852]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.5594 +- 0.2659

ITERACIÓN 8
Resultado de la predicción: [ 6.5147541   4.97377049  5.0852459  ...  5.45901639 11.23278689
  5.53114754]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.6886 +- 0.2666

ITERACIÓN 9
Resultado de la predicción: [6.40655738 8.12131148 5.80327869 ... 8.53114754 5.92786885 6.0295082 ]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.69 +- 0.266

ITERACIÓN 10
Resultado de la predicción: [4.41311475 8.20327869 5.37377049 ... 8.66557377 5.69180328 5.88852459]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.8425 +- 0.2682
vecinos = 305, error =  31.66 +- 0.27

Modelo 5: 405 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.77283951 7.62469136 6.80740741 ... 7.57037037 5.81975309 4.60987654]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.6685 +- 0.2667

ITERACIÓN 2
Resultado de la predicción: [5.58518519 5.39753086 6.25432099 ... 2.17530864 5.28641975 7.58271605]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.6181 +- 0.2655

ITERACIÓN 3
Resultado de la predicción: [5.41481481 5.16296296 7.28641975 ... 4.88888889 7.23703704 5.96296296]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.7525 +- 0.2666

ITERACIÓN 4
Resultado de la predicción: [5.60987654 9.47407407 4.17037037 ... 5.84691358 3.49382716 8.07654321]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.5275 +- 0.2656

ITERACIÓN 5
Resultado de la predicción: [3.48148148 5.09382716 8.28888889 ... 5.71111111 8.19012346 7.38765432]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.6729 +- 0.2666

ITERACIÓN 6
Resultado de la predicción: [4.90123457 2.8962963  2.65432099 ... 7.12345679 4.73333333 5.64197531]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.6778 +- 0.2648

ITERACIÓN 7
Resultado de la predicción: [6.10617284 4.39753086 7.55308642 ... 6.60246914 5.5382716  7.31111111]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.5733 +- 0.266

ITERACIÓN 8
Resultado de la predicción: [ 6.39259259  4.96790123  5.08641975 ...  5.47654321 11.0345679
  5.60493827]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.7028 +- 0.2667

ITERACIÓN 9
Resultado de la predicción: [6.51851852 8.23209877 5.54074074 ... 8.32098765 6.11111111 6.0962963 ]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.7081 +- 0.2661

ITERACIÓN 10
Resultado de la predicción: [4.47654321 7.8962963  5.23950617 ... 8.76790123 5.68148148 5.96049383]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.8567 +- 0.2683
vecinos = 405, error =  31.68 +- 0.27

Modelo 6: 505 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1

KeyboardInterrupt:

In [ ]:

#Creando un objeto tree con las condiciones iniciales y mirando el error
from sklearn.model_selection import KFold
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
numFolds=10
kf = KFold(n_splits=numFolds,shuffle=True)

#El objeto ha sido creado
tree = DecisionTreeRegressor()



allTest=np.zeros((numFolds,1))
allTrain=np.zeros((numFolds,1))
index=0
for train_index, test_index in kf.split(diabetes.data):
    
    
    tree=tree.fit(diabetes.data[train_index,:],diabetes.target[train_index])
    
    
    
    prediccion=tree.predict(diabetes.data[train_index,:])
    allTrain[index]=mean_absolute_error(diabetes.target[train_index],prediccion)
    prediccion=tree.predict(diabetes.data[test_index,:])
    allTest[index]=mean_absolute_error(diabetes.target[test_index],prediccion)
    index+=1
print("Train error: ",allTrain.mean(),"+-",allTrain.std())
print("Test error: ",allTest.mean(),"+-",allTest.std())

In [ ]:
countm = 1




for MD in range(5, 999718, 10):
    
    print('')
    print(f'Modelo {countm}: {NN} vecinos')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    print(kf)
    #Generando los k-fold
    temp = kf.split(data_estandar)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        print('')
        print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = data_estandar.iloc[lista_train_index,0:-1]
        y_train = data_estandar.iloc[lista_train_index,-1]

        X_test = data_estandar.iloc[lista_test_index,0:-1]
        y_test = np.array(data_estandar.iloc[lista_test_index, -1])


        KNN = KNeighborsRegressor(n_neighbors = NN, weights="uniform", n_jobs = -1)
        tree = DecisionTreeRegressor(max_depth = MD)

        KNN=KNN.fit(X_train,y_train)
        tree=tree.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = tree.predict(X_test)
        print("Resultado de la predicción:",resultado)
        print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)


    print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

In [13]:
from sklearn.tree import DecisionTreeRegressor

In [18]:
dataArbol = data[['fligth_number',
                 'dom_cnx', 'int_cnx', 'p2p', 'capacity',
                 'bookings', 'paxL', 'paxH',
                 'pax_freqflyer', 'group_bookings', 'noshow']]
dataArbol

,fligth_number,dom_cnx,int_cnx,p2p,capacity,bookings,paxL,paxH,pax_freqflyer,group_bookings,noshow
0,8995,1,0,239,174.0,240,188,30,22,19,9.0
1,7061,19,9,192,174.0,220,187,8,25,0,0.0
2,8972,0,10,69,218.0,79,71,6,2,0,4.0
3,6039,26,0,64,174.0,90,75,11,4,0,13.0
4,7713,23,3,183,144.0,209,103,106,0,88,14.0
...,...,...,...,...,...,...,...,...,...,...,...
999713,6024,64,9,0,144.0,73,29,32,12,0,5.0
999714,6669,0,118,156,168.0,274,250,22,2,20,4.0
999715,9094,7,0,124,218.0,131,110,1,20,36,5.0
999716,7704,34,2,98,144.0,134,109,9,16,0,2.0
999717,7746,5,3,119,144.0,127,123,2,2,0,10.0

In [19]:

countm = 1


for MD in range(5, 999718, 10):
    
    print('')
    print(f'Modelo {countm}: profundidad máxima {MD}')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    print(kf)
    
    
    #Generando los k-fold
    temp = kf.split(data_estandar)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        print('')
        print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = dataArbol.iloc[lista_train_index,0:-1]
        y_train = dataArbol.iloc[lista_train_index,-1]

        X_test = dataArbol.iloc[lista_test_index,0:-1]
        y_test = np.array(dataArbol.iloc[lista_test_index, -1])


        tree = DecisionTreeRegressor(max_depth = MD)

        tree=tree.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = tree.predict(X_test)
        print("Resultado de la predicción:",resultado)
        print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)

    print('')
    print(f'Profundidad = {MD}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')
    print('')

Modelo 1: profundidad máxima 5
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.8214752  7.8214752  7.77035237 ... 7.41604488 5.63815965 4.91579861]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.8868 +- 0.2669

ITERACIÓN 2
Resultado de la predicción: [5.64443314 4.32575077 5.64443314 ... 2.9402846  4.90812561 8.05438892]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.839 +- 0.2658

ITERACIÓN 3
Resultado de la predicción: [5.63880917 5.63880917 7.41531641 ... 4.90690801 6.87322097 6.46775269]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.9769 +- 0.2668

ITERACIÓN 4
Resultado de la predicción: [5.6380261  9.73298551 5.13083354 ... 7.41069127 2.9412973  7.01394766]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.7528 +- 0.2657

ITERACIÓN 5
Resultado de la predicción: [4.6297778  5.6459656  7.47628007 ... 5.6459656  8.07767258 7.30474136]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.8756 +- 0.2667

ITERACIÓN 6
Resultado de la predicción: [4.61705351 3.43481701 2.94011361 ... 7.3671957  5.15836516 5.63866772]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.8512 +- 0.2651

ITERACIÓN 7
Resultado de la predicción: [5.63974847 3.44479746 7.27837171 ... 6.4012603  5.63974847 7.27837171]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.8051 +- 0.2663

ITERACIÓN 8
Resultado de la predicción: [5.57891959 5.64148398 4.70455213 ... 5.64148398 9.77051013 5.64148398]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.9044 +- 0.2669

ITERACIÓN 9
Resultado de la predicción: [7.37921366 7.7813611  5.63518866 ... 8.73210084 7.37921366 5.63518866]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.9332 +- 0.266

ITERACIÓN 10
Resultado de la predicción: [4.91207299 6.25685863 5.63640828 ... 8.72093464 5.93394667 5.93394667]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 32.0803 +- 0.2685

Profundidad = 5, error =  31.89 +- 0.27


Modelo 2: profundidad máxima 15
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [6.8548124  8.34741993 5.28481013 ... 7.2945014  6.03993389 4.86198968]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.5876 +- 0.267

ITERACIÓN 2
Resultado de la predicción: [5.1431853  6.30612245 6.14694438 ... 1.77862595 7.91338583 8.05894392]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.4912 +- 0.2658

ITERACIÓN 3
Resultado de la predicción: [5.60536883 5.57709924 7.62636783 ... 4.8703285  7.49708738 4.16885553]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.5942 +- 0.2664

ITERACIÓN 4
Resultado de la predicción: [5.52765795 6.0625     4.82352941 ... 8.53153153 3.41004184 7.28057554]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.4252 +- 0.2655

ITERACIÓN 5
Resultado de la predicción: [4.33609959 6.24477902 7.62207358 ... 5.79498264 9.11850312 7.79616963]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.5247 +- 0.2664

ITERACIÓN 6
Resultado de la predicción: [5.32129964 2.20224719 2.50251256 ... 7.02666667 6.84210526 6.17409707]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.5801 +- 0.265

ITERACIÓN 7
Resultado de la predicción: [ 5.94326292  2.47019868  7.65846154 ... 11.40849673  5.87436729
  5.30317848]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.4134 +- 0.2659

ITERACIÓN 8
Resultado de la predicción: [ 5.36519608  5.1586602   4.4159292  ...  5.97022495 10.64257028
  5.61869736]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.6083 +- 0.2666

ITERACIÓN 9
Resultado de la predicción: [7.55642384 7.53721683 5.432282   ... 8.74795268 6.25       7.01922461]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.6278 +- 0.2661

ITERACIÓN 10
Resultado de la predicción: [4.49728568 2.93442623 5.79669031 ... 8.05608215 4.91962175 6.20660258]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.7332 +- 0.2679

Profundidad = 15, error =  31.56 +- 0.27


Modelo 3: profundidad máxima 25
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [ 3.          8.08433735  7.5        ... 18.          6.1381932
  4.79489164]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 35.4159 +- 0.2887

ITERACIÓN 2
Resultado de la predicción: [5.91397849 8.         5.92       ... 1.         4.         7.57185629]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 35.2613 +- 0.2868

ITERACIÓN 3
Resultado de la predicción: [ 5.68283582 10.          7.36034115 ...  5.55555556  5.30769231
  2.4375    ]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 35.541 +- 0.2886

ITERACIÓN 4
Resultado de la predicción: [ 4.41923077  4.          1.         ... 23.          1.85714286
  8.        ]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 35.5688 +- 0.2883

ITERACIÓN 5
Resultado de la predicción: [ 8.          7.11111111  7.292      ...  5.34072581 12.4
 16.        ]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 35.4522 +- 0.2881

ITERACIÓN 6
Resultado de la predicción: [ 5.          0.          2.28813559 ...  6.         14.
  6.43478261]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 35.3366 +- 0.2867

ITERACIÓN 7
Resultado de la predicción: [5.85       1.46153846 7.91828255 ... 8.         5.02803738 6.        ]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 35.3394 +- 0.2885

ITERACIÓN 8
Resultado de la predicción: [5.7173913  4.44615385 2.         ... 5.48080134 9.         5.71428571]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 35.4003 +- 0.2881

ITERACIÓN 9
Resultado de la predicción: [ 6.86384977  6.          5.475      ... 18.          8.
  7.33333333]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 35.4189 +- 0.2882

ITERACIÓN 10
Resultado de la predicción: [ 3.99371069  3.          4.         ... 14.          5.54545455
  4.92      ]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 35.5378 +- 0.2883

Profundidad = 25, error =  35.43 +- 0.29


Modelo 4: profundidad máxima 35
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [ 3.          7.          7.         ... 18.          6.62288136
  4.76635514]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 39.7415 +- 0.305

ITERACIÓN 2
Resultado de la predicción: [0.         8.         6.         ... 1.         4.         6.38888889]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.5138 +- 0.3037

ITERACIÓN 3
Resultado de la predicción: [ 5.67036626 24.          6.125      ...  3.          6.
  1.        ]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 39.8215 +- 0.3052

ITERACIÓN 4
Resultado de la predicción: [ 3.35  4.    1.   ... 23.    2.    8.  ]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 39.8793 +- 0.3048

ITERACIÓN 5
Resultado de la predicción: [ 5.         20.          8.6        ...  5.81006865 12.
 16.        ]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 39.9116 +- 0.3054

ITERACIÓN 6
Resultado de la predicción: [ 5.   0.   6.  ...  6.  11.   3.5]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 39.8476 +- 0.3042

ITERACIÓN 7
Resultado de la predicción: [6.24778761 0.         9.75       ... 2.         7.63636364 6.        ]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 39.7769 +- 0.3058

ITERACIÓN 8
Resultado de la predicción: [ 3.          1.          0.         ...  5.14285714 10.
  9.        ]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 39.9629 +- 0.3051

ITERACIÓN 9
Resultado de la predicción: [ 6.   5.   3.4 ... 21.   8.   1. ]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 39.8774 +- 0.3054

ITERACIÓN 10
Resultado de la predicción: [ 3.66666667  3.          4.         ... 14.          5.
  2.        ]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 39.8086 +- 0.3042

Profundidad = 35, error =  39.81 +- 0.3


Modelo 5: profundidad máxima 45
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1

KeyboardInterrupt:

In [24]:

countm = 1


for MD in range(1, 25, 1):
    
    #print('')
    #print(f'Modelo {countm}: profundidad máxima {MD}')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    #print(kf)
    
    
    #Generando los k-fold
    temp = kf.split(dataArbol)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        #print('')
        #print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = dataArbol.iloc[lista_train_index,0:-1]
        y_train = dataArbol.iloc[lista_train_index,-1]

        X_test = dataArbol.iloc[lista_test_index,0:-1]
        y_test = np.array(dataArbol.iloc[lista_test_index, -1])


        tree = DecisionTreeRegressor(max_depth = MD)

        tree=tree.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = tree.predict(X_test)
        #print("Resultado de la predicción:",resultado)
        #print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        #print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)

    print('')
    print(f'Profundidad = {MD}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')
    print('')

Profundidad = 1, error =  32.81 +- 0.27


Profundidad = 2, error =  32.41 +- 0.27


Profundidad = 3, error =  32.23 +- 0.27


Profundidad = 4, error =  31.98 +- 0.27


Profundidad = 5, error =  31.89 +- 0.27


Profundidad = 6, error =  31.81 +- 0.27


Profundidad = 7, error =  31.77 +- 0.27


Profundidad = 8, error =  31.68 +- 0.27


Profundidad = 9, error =  31.61 +- 0.27


Profundidad = 10, error =  31.54 +- 0.27


Profundidad = 11, error =  31.48 +- 0.27


Profundidad = 12, error =  31.44 +- 0.27


Profundidad = 13, error =  31.43 +- 0.27


Profundidad = 14, error =  31.47 +- 0.27


Profundidad = 15, error =  31.56 +- 0.27


Profundidad = 16, error =  31.71 +- 0.27


Profundidad = 17, error =  31.93 +- 0.27


Profundidad = 18, error =  32.2 +- 0.27


Profundidad = 19, error =  32.53 +- 0.27


Profundidad = 20, error =  32.91 +- 0.27


Profundidad = 21, error =  33.37 +- 0.28


Profundidad = 22, error =  33.85 +- 0.28


Profundidad = 23, error =  34.36 +- 0.28


Profundidad = 24, error =  34.9 +- 0.29

In [30]:
dataArbol2 = data[['fligth_number', 'revenues_usd',
                 'dom_cnx', 'int_cnx', 'p2p', 'capacity',
                 'bookings', 'paxL', 'paxH',
                 'pax_freqflyer', 'group_bookings', 'noshow']]
dataArbol2

,fligth_number,revenues_usd,dom_cnx,int_cnx,p2p,capacity,bookings,paxL,paxH,pax_freqflyer,group_bookings,noshow
0,8995,10631.1,1,0,239,174.0,240,188,30,22,19,9.0
1,7061,5453.7,19,9,192,174.0,220,187,8,25,0,0.0
2,8972,16161.0,0,10,69,218.0,79,71,6,2,0,4.0
3,6039,10828.7,26,0,64,174.0,90,75,11,4,0,13.0
4,7713,16721.6,23,3,183,144.0,209,103,106,0,88,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...
999713,6024,14102.1,64,9,0,144.0,73,29,32,12,0,5.0
999714,6669,32907.8,0,118,156,168.0,274,250,22,2,20,4.0
999715,9094,13519.3,7,0,124,218.0,131,110,1,20,36,5.0
999716,7704,8729.6,34,2,98,144.0,134,109,9,16,0,2.0
999717,7746,3031.0,5,3,119,144.0,127,123,2,2,0,10.0

In [31]:

countm = 1


for MD in range(1, 25, 1):
    
    #print('')
    #print(f'Modelo {countm}: profundidad máxima {MD}')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    #print(kf)
    
    
    #Generando los k-fold
    temp = kf.split(dataArbol2)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        #print('')
        #print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = dataArbol2.iloc[lista_train_index,0:-1]
        y_train = dataArbol2.iloc[lista_train_index,-1]

        X_test = dataArbol2.iloc[lista_test_index,0:-1]
        y_test = np.array(dataArbol2.iloc[lista_test_index, -1])


        tree = DecisionTreeRegressor(max_depth = MD)

        tree=tree.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = tree.predict(X_test)
        #print("Resultado de la predicción:",resultado)
        #print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        #print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)

    print('')
    print(f'Profundidad = {MD}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')
    print('')

Profundidad = 1, error =  32.81 +- 0.27


Profundidad = 2, error =  32.41 +- 0.27


Profundidad = 3, error =  32.22 +- 0.27


Profundidad = 4, error =  32.0 +- 0.27

KeyboardInterrupt:

In [32]:
dataArbol3 = data[['fligth_number',
                 'dom_cnx', 'int_cnx', 'p2p', 'capacity',
                 'paxL', 'paxH',
                 'pax_freqflyer', 'group_bookings', 'noshow']]
dataArbol3

,fligth_number,dom_cnx,int_cnx,p2p,capacity,paxL,paxH,pax_freqflyer,group_bookings,noshow
0,8995,1,0,239,174.0,188,30,22,19,9.0
1,7061,19,9,192,174.0,187,8,25,0,0.0
2,8972,0,10,69,218.0,71,6,2,0,4.0
3,6039,26,0,64,174.0,75,11,4,0,13.0
4,7713,23,3,183,144.0,103,106,0,88,14.0
...,...,...,...,...,...,...,...,...,...,...
999713,6024,64,9,0,144.0,29,32,12,0,5.0
999714,6669,0,118,156,168.0,250,22,2,20,4.0
999715,9094,7,0,124,218.0,110,1,20,36,5.0
999716,7704,34,2,98,144.0,109,9,16,0,2.0
999717,7746,5,3,119,144.0,123,2,2,0,10.0

In [33]:

countm = 1


for MD in range(1, 25, 1):
    
    #print('')
    #print(f'Modelo {countm}: profundidad máxima {MD}')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    #print(kf)
    
    
    #Generando los k-fold
    temp = kf.split(dataArbol3)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        #print('')
        #print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = dataArbol3.iloc[lista_train_index,0:-1]
        y_train = dataArbol3.iloc[lista_train_index,-1]

        X_test = dataArbol3.iloc[lista_test_index,0:-1]
        y_test = np.array(dataArbol3.iloc[lista_test_index, -1])


        tree = DecisionTreeRegressor(max_depth = MD)

        tree=tree.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = tree.predict(X_test)
        #print("Resultado de la predicción:",resultado)
        #print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        #print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)

    print('')
    print(f'Profundidad = {MD}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')
    print('')

Profundidad = 1, error =  32.81 +- 0.27


Profundidad = 2, error =  32.41 +- 0.27


Profundidad = 3, error =  32.23 +- 0.27


Profundidad = 4, error =  31.98 +- 0.27


Profundidad = 5, error =  31.89 +- 0.27


Profundidad = 6, error =  31.82 +- 0.27


Profundidad = 7, error =  31.77 +- 0.27

KeyboardInterrupt:

In [35]:
dataArbol4 = data[['fligth_number', 'capacity', 'noshow']]
dataArbol4

        fligth_number  capacity  noshow
0                8995     174.0     9.0
1                7061     174.0     0.0
2                8972     218.0     4.0
3                6039     174.0    13.0
4                7713     144.0    14.0
...               ...       ...     ...
999713           6024     144.0     5.0
999714           6669     168.0     4.0
999715           9094     218.0     5.0
999716           7704     144.0     2.0
999717           7746     144.0    10.0

[999718 rows x 3 columns]

In [36]:

countm = 1


for MD in range(1, 25, 1):
    
    #print('')
    #print(f'Modelo {countm}: profundidad máxima {MD}')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    #print(kf)
    
    
    #Generando los k-fold
    temp = kf.split(dataArbol4)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        #print('')
        #print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = dataArbol4.iloc[lista_train_index,0:-1]
        y_train = dataArbol4.iloc[lista_train_index,-1]

        X_test = dataArbol4.iloc[lista_test_index,0:-1]
        y_test = np.array(dataArbol4.iloc[lista_test_index, -1])


        tree = DecisionTreeRegressor(max_depth = MD)

        tree=tree.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = tree.predict(X_test)
        #print("Resultado de la predicción:",resultado)
        #print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        #print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)

    print('')
    print(f'Profundidad = {MD}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')
    print('')

Profundidad = 1, error =  32.81 +- 0.27


Profundidad = 2, error =  32.41 +- 0.27


Profundidad = 3, error =  32.26 +- 0.27


Profundidad = 4, error =  32.02 +- 0.27


Profundidad = 5, error =  31.97 +- 0.27


Profundidad = 6, error =  31.89 +- 0.27


Profundidad = 7, error =  31.8 +- 0.27


Profundidad = 8, error =  31.76 +- 0.27


Profundidad = 9, error =  31.64 +- 0.27


Profundidad = 10, error =  31.49 +- 0.27


Profundidad = 11, error =  31.42 +- 0.26

KeyboardInterrupt:

In [37]:
dataArbol5 = data[['fligth_number', 'capacity',
                   'bookings', 'noshow']]
dataArbol5

        fligth_number  capacity  bookings  noshow
0                8995     174.0       240     9.0
1                7061     174.0       220     0.0
2                8972     218.0        79     4.0
3                6039     174.0        90    13.0
4                7713     144.0       209    14.0
...               ...       ...       ...     ...
999713           6024     144.0        73     5.0
999714           6669     168.0       274     4.0
999715           9094     218.0       131     5.0
999716           7704     144.0       134     2.0
999717           7746     144.0       127    10.0

[999718 rows x 4 columns]

In [38]:

countm = 1


for MD in range(1, 25, 1):
    
    #print('')
    #print(f'Modelo {countm}: profundidad máxima {MD}')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    #print(kf)
    
    
    #Generando los k-fold
    temp = kf.split(dataArbol5)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        #print('')
        #print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = dataArbol5.iloc[lista_train_index,0:-1]
        y_train = dataArbol5.iloc[lista_train_index,-1]

        X_test = dataArbol5.iloc[lista_test_index,0:-1]
        y_test = np.array(dataArbol5.iloc[lista_test_index, -1])


        tree = DecisionTreeRegressor(max_depth = MD)

        tree=tree.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = tree.predict(X_test)
        #print("Resultado de la predicción:",resultado)
        #print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        #print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)

    print('')
    print(f'Profundidad = {MD}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')
    print('')

Profundidad = 1, error =  32.81 +- 0.27


Profundidad = 2, error =  32.41 +- 0.27


Profundidad = 3, error =  32.26 +- 0.27


Profundidad = 4, error =  31.99 +- 0.27


Profundidad = 5, error =  31.92 +- 0.27


Profundidad = 6, error =  31.85 +- 0.27


Profundidad = 7, error =  31.76 +- 0.27


Profundidad = 8, error =  31.7 +- 0.27


Profundidad = 9, error =  31.59 +- 0.27


Profundidad = 10, error =  31.46 +- 0.27


Profundidad = 11, error =  31.4 +- 0.27


Profundidad = 12, error =  31.35 +- 0.26


Profundidad = 13, error =  31.33 +- 0.26


Profundidad = 14, error =  31.33 +- 0.26


Profundidad = 15, error =  31.38 +- 0.27


Profundidad = 16, error =  31.46 +- 0.27


Profundidad = 17, error =  31.59 +- 0.27


Profundidad = 18, error =  31.77 +- 0.27


Profundidad = 19, error =  31.98 +- 0.27


Profundidad = 20, error =  32.25 +- 0.27


Profundidad = 21, error =  32.55 +- 0.27


Profundidad = 22, error =  32.88 +- 0.27


Profundidad = 23, error =  33.23 +- 0.28


Profundidad = 24, error =  33.59 +- 0.28

In [40]:
data.columns

Index(['index', 'Unnamed: 0', 'date', 'fligth_number', 'origin', 'destination',
       'distance', 'noshow', 'denied_boarding', 'pax_midlow', 'pax_high',
       'pax_midhigh', 'pax_low', 'pax_freqflyer', 'group_bookings',
       'out_of_stock', 'dom_cnx', 'int_cnx', 'p2p', 'departure_time',
       'capacity', 'revenues_usd', 'bookings', 'paxH', 'paxL', 'sum_noshow'],
      dtype='object')

In [49]:
variables = ['fligth_number', 'dom_cnx', 'int_cnx', 'p2p', 'capacity', 
             'bookings', 'paxH', 'paxL', 'pax_freqflyer', 'group_bookings',]


for variable in variables:
    print(variable)
    
    dataPrueba = data[[variable, 'noshow']]
    display(dataPrueba.head(2))
    
    countm = 1


    for MD in range(2, 19, 3):

        #print('')
        #print(f'Modelo {countm}: profundidad máxima {MD}')
        countm += 1

        kf = KFold(n_splits=10,shuffle=False)
        #print(kf)


        #Generando los k-fold
        temp = kf.split(dataPrueba)
        count = 1

        means = []
        stds = []

        for train_index, test_index in temp:

            #print('')
            #print('ITERACIÓN', count)


            lista_train_index = list(train_index)
            lista_test_index = list(test_index)

            X_train = dataPrueba.iloc[lista_train_index,0:-1]
            y_train = dataPrueba.iloc[lista_train_index,-1]

            X_test = dataPrueba.iloc[lista_test_index,0:-1]
            y_test = np.array(dataPrueba.iloc[lista_test_index, -1])


            tree = DecisionTreeRegressor(max_depth = MD)

            tree=tree.fit(X_train,y_train)


            #Aplicando el modelo a otros datos
            resultado = tree.predict(X_test)
            #print("Resultado de la predicción:",resultado)
            #print("Resultado original        :",y_test)


            mean, std = calculate_sMAPE(resultado, y_test)


            #print(f'Error {count}: {mean} +- {std}')

            count += 1


            means.append(mean)
            stds.append(std)

        #print('')
        print(f'Profundidad = {MD}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 4)} ')
        #print('')
    print('')

fligth_number

   fligth_number  noshow
0           8995     9.0
1           7061     0.0

Profundidad = 2, error =  32.67 +- 0.2675
Profundidad = 5, error =  32.3 +- 0.2679
Profundidad = 8, error =  31.99 +- 0.2668
Profundidad = 11, error =  31.61 +- 0.2658
Profundidad = 14, error =  31.33 +- 0.2648
Profundidad = 17, error =  31.17 +- 0.2645

dom_cnx

   dom_cnx  noshow
0        1     9.0
1       19     0.0

Profundidad = 2, error =  32.95 +- 0.2691
Profundidad = 5, error =  32.94 +- 0.2691
Profundidad = 8, error =  32.94 +- 0.2691
Profundidad = 11, error =  32.94 +- 0.2691
Profundidad = 14, error =  32.94 +- 0.2691
Profundidad = 17, error =  32.94 +- 0.2691

int_cnx

   int_cnx  noshow
0        0     9.0
1        9     0.0

Profundidad = 2, error =  32.95 +- 0.2693
Profundidad = 5, error =  32.95 +- 0.2689
Profundidad = 8, error =  32.96 +- 0.2688
Profundidad = 11, error =  32.96 +- 0.2688
Profundidad = 14, error =  32.96 +- 0.2688
Profundidad = 17, error =  32.96 +- 0.2688

p2p

   p2p  noshow
0  239     9.0
1  192     0.0

Profundidad = 2, error =  32.72 +- 0.2687
Profundidad = 5, error =  32.7 +- 0.2685
Profundidad = 8, error =  32.71 +- 0.2685
Profundidad = 11, error =  32.71 +- 0.2684
Profundidad = 14, error =  32.71 +- 0.2684
Profundidad = 17, error =  32.71 +- 0.2684

capacity

   capacity  noshow
0     174.0     9.0
1     174.0     0.0

Profundidad = 2, error =  32.52 +- 0.2681
Profundidad = 5, error =  32.38 +- 0.2681
Profundidad = 8, error =  32.36 +- 0.2681
Profundidad = 11, error =  32.36 +- 0.2681
Profundidad = 14, error =  32.36 +- 0.2681
Profundidad = 17, error =  32.36 +- 0.2681

bookings

   bookings  noshow
0       240     9.0
1       220     0.0

Profundidad = 2, error =  32.8 +- 0.2688
Profundidad = 5, error =  32.79 +- 0.2684
Profundidad = 8, error =  32.79 +- 0.2684
Profundidad = 11, error =  32.79 +- 0.2684
Profundidad = 14, error =  32.79 +- 0.2684
Profundidad = 17, error =  32.79 +- 0.2684

paxH

   paxH  noshow
0    30     9.0
1     8     0.0

Profundidad = 2, error =  32.96 +- 0.2692
Profundidad = 5, error =  32.96 +- 0.2692
Profundidad = 8, error =  32.96 +- 0.2692
Profundidad = 11, error =  32.96 +- 0.2692
Profundidad = 14, error =  32.96 +- 0.2692
Profundidad = 17, error =  32.96 +- 0.2692

paxL

   paxL  noshow
0   188     9.0
1   187     0.0

Profundidad = 2, error =  32.81 +- 0.2688
Profundidad = 5, error =  32.8 +- 0.2686
Profundidad = 8, error =  32.8 +- 0.2686
Profundidad = 11, error =  32.8 +- 0.2686
Profundidad = 14, error =  32.81 +- 0.2686
Profundidad = 17, error =  32.81 +- 0.2686

pax_freqflyer

   pax_freqflyer  noshow
0             22     9.0
1             25     0.0

Profundidad = 2, error =  32.91 +- 0.2697
Profundidad = 5, error =  32.92 +- 0.2695
Profundidad = 8, error =  32.93 +- 0.2695
Profundidad = 11, error =  32.93 +- 0.2695
Profundidad = 14, error =  32.93 +- 0.2695
Profundidad = 17, error =  32.93 +- 0.2695

group_bookings

   group_bookings  noshow
0              19     9.0
1               0     0.0

Profundidad = 2, error =  32.93 +- 0.2694
Profundidad = 5, error =  32.92 +- 0.2695
Profundidad = 8, error =  32.92 +- 0.2695
Profundidad = 11, error =  32.92 +- 0.2695
Profundidad = 14, error =  32.92 +- 0.2695
Profundidad = 17, error =  32.92 +- 0.2695

In [54]:
data1 = data[['fligth_number', 'p2p', 'capacity', 'noshow']]




countm = 1


for MD in range(2, 20, 1):

    #print('')
    #print(f'Modelo {countm}: profundidad máxima {MD}')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    #print(kf)


    #Generando los k-fold
    temp = kf.split(data1)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        #print('')
        #print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = data1.iloc[lista_train_index,0:-1]
        y_train = data1.iloc[lista_train_index,-1]

        X_test = data1.iloc[lista_test_index,0:-1]
        y_test = np.array(data1.iloc[lista_test_index, -1])


        tree = DecisionTreeRegressor(max_depth = MD)

        tree=tree.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = tree.predict(X_test)
        #print("Resultado de la predicción:",resultado)
        #print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        #print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)

    #print('')
    print(f'Profundidad = {MD}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 4)} ')
    #print('')

Profundidad = 2, error =  32.41 +- 0.2679
Profundidad = 3, error =  32.23 +- 0.2665
Profundidad = 4, error =  31.99 +- 0.2665
Profundidad = 5, error =  31.9 +- 0.2665
Profundidad = 6, error =  31.83 +- 0.2663
Profundidad = 7, error =  31.75 +- 0.2662
Profundidad = 8, error =  31.68 +- 0.2661
Profundidad = 9, error =  31.61 +- 0.2658
Profundidad = 10, error =  31.52 +- 0.2656
Profundidad = 11, error =  31.44 +- 0.2652
Profundidad = 12, error =  31.37 +- 0.2651
Profundidad = 13, error =  31.35 +- 0.2651
Profundidad = 14, error =  31.37 +- 0.2651
Profundidad = 15, error =  31.42 +- 0.2655
Profundidad = 16, error =  31.53 +- 0.2661
Profundidad = 17, error =  31.67 +- 0.2671
Profundidad = 18, error =  31.87 +- 0.2682
Profundidad = 19, error =  32.12 +- 0.2697